@using Microsoft.AspNetCore.Components.Authorization
@using ShopSite_Master.Services.Interfaces
@inject ShopSite_Master.Services.Master.UserService UserService

<AuthorizeView>
    <Authorized>
        <button class="btn btn-outline-danger" @onclick="HandleLogout">
            <i class="fas fa-sign-out-alt"></i> Logout
        </button>
    </Authorized>
</AuthorizeView>

@code {
    private async Task HandleLogout()
    {
        await UserService.LogoutAsync();
    }
}
